<div class="view">

<h1 class="keep">Keep stores opened on sundays!</h1>
<h1 class="pleaselog">please log into the petition</h1>
<form id="login" method="post">

    <input placeholder="email" name="email" type="text" required>
    <input placeholder="password" name="password" type="text" required>
    <button type="submit">Submit</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
{{#if error}}
            <div class="errorinlogin">ooops somthing is not right!</div>
        {{/if}}



<h3 class="notamember">not a memeber yet? <a href="/register">Please register :)</a></h3>
</div>
