<h1>PETITION!!!!</h1>

<form id="form" method="POST">
    <input class="first" type="text" name="first">first name<br>
    <input class="last" type="text" name="last">last name<br>
    <input id="hidden" type="hidden" name="canvas">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <canvas id="myCanvas" width="300" height="100"></canvas>



<button id="submit">submit</button>
    </form>
