<div class="view">


<h1>PETITION!!!!</h1>

<form id="form" method="POST">
    <p>{{errorMessage}}</p>

    <input id="hidden" type="hidden" name="canvas">
    <input type="hidden" name="signature" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <canvas id="myCanvas" width="300" height="100"></canvas>



<button id="submit">submit</button>
    </form>
</div>
