<h1>now please tell us more about you</h1>
<img src="https://i.imgur.com/XO8QhcG.jpg" alt="">
<form method="POST" id="">
    <input type="text" name="age" value="">age</br>
    <input type="text" name="city" value="">city</br>
    <input type="text" name="homepage" value="">homepage</br>
    <button name="continue">continue</button>
</form>
