<div id="register">
    <h1>please register</h1>
    <form method="post">
        {{#if error}}
                    <div class="error">ooops something is not right!</div>
                {{/if}}
        <input placeholder="firstname"type="text" name="first">
        <input placeholder="lastname"type="text" name="last">
        <input placeholder="email"type="text" name="email">
        <input placeholder="password"type="text" name="password">
        <button type="submit" name="register">register</button>


        </form>
        <h3>got an account already???? <a href="/login">Please log in</a> </h3>
</div>
