<div class="view">


<h1>Thank you for signing</h1>
<!-- <img src="https://pics.me.me/when-you-your-cousin-come-back-from-a-walk-12089980.png" alt="highman"> -->
<p>{{message}}<p/>

<img src="{{sig}}" />

<p><a href="/signers">See all {{numOfSigners}} the other heroes!</a></p>
</div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
